<footer>
	<div class="footer-elements">
		<div class="address footer-section">
			<!-- <img class="map" src="/assets/Map.png" alt="Karte"> -->
			<p>
				<strong>Adresse</strong>
				<br />
				SANITÄTSHAUS THÖNNISSEN GMBH
			</p>
			<p>
				<br />
				Hochstraße 8 <br />
				56112 Lahnstein
			</p>
		</div>
		<div class="contact footer-section">
			<div>
				<strong>Telefon</strong>
				<br />
				<a name="phone-number"></a>02621 2490
			</div>
			<div><br /><strong>Telefax</strong> <br />02621 4912</div>
		</div>
		<div class="contact footer-section">
			<div><br /><strong>&#069;&#045;&#077;&#097;&#105;&#108;</strong> <br />info@thoennissen.de</div>
		</div>
	</div>
	<div class="footer-item-group">
		<a href="https://www.thoennissen.de/impressum/" target="_blank" class="footer-item-grey">Impressum</a>
		<a href="https://www.thoennissen.de/datenschutz/" target="_blank" class="footer-item-grey">Datenschutz</a>
	</div>
</footer>
